body {
    margin: 0;
    padding: 0;
    display: flex;
    color: #8080FF;
    font-family: Arial, sans-serif;
    background-color: #000000;

    align-items: center; 
    flex-direction: column;
    gap: 20px;
}
#bgm {
    margin-left: 10vh   ;
}
svg#palette {
    position: absolute;
    top: 10vh;
    left: 0vw;
}
p#textoriginalimage{
    transform: translate(+8%, 0%);
    transform-origin: center;
}
p#msdostext{
    position: absolute;
    top: 35vh;
    left: 77vw;
    transform: translate(+5%, -400%);
    transform-origin: center;
}
img#CRTMonitor{
    background-size: cover;
    position: absolute;
    top: 35vh;
    left: 75vw;
    width: 600px;
    height: 350px;
    transform: translate(-33%, -15%);
    transform-origin: center;
}
canvas#canvas {
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid #242424; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
canvas#canvas2 {
    position: absolute;
    top: 35vh;
    left: 75vw;
    width: 200px;
    height: 128px;
    mix-blend-mode: overlay;
}
textarea {
    width: 300px; 
    height: 150px; 
    padding: 10px;
    margin-left: 20px;
    font-family: monospace; 
    font-size: 15px; 
    color: #333;
    background-color: #f9f9f9; 
    border: 2px solid #ccc;
    border-radius: 5px;
}
.range-container {
    margin: 10px;
    margin-left: 10vh;
}
.range-container label {
    display: inline-block;
    width: 67px;
    font-family: arial, serif;
}
.range-container span {
    margin-left: 10px;
}
#fileInput {    
    margin-left: 10vh;
    font-family: system-ui; 
}
