body {
    margin: 0;
    padding: 0;
    background-image: url("background.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    
    align-items: center; 
    flex-direction: column;
    gap: 20px;
}
#bgm {
    margin-left: 10vh   ;
}
p#msdostext{
    position: absolute;
    top: 86vh;
    left: 70vw;
    transform: translate(+5%, -400%);
    transform-origin: center;
}
img#CRTMonitor{
    background-size: cover;
    position: absolute;
    top: 86vh;
    left: 70vw;
    width: 600px;
    height: 350px;
    transform: translate(-33%, -15%);
    transform-origin: center;
}
canvas#canvas {
    margin-right: 20px;
    margin-left: 20px;
    border: 2px solid #000; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
canvas#canvas2 {
    position: absolute;
    top: 86vh;
    left: 70vw;
    width: 200px;
    height: 128px;
    mix-blend-mode: overlay;
}
textarea {
    width: 300px; 
    height: 150px; 
    padding: 10px;
    margin-left: 20px;
    font-family: monospace; 
    font-size: 15px; 
    color: #333;
    background-color: #f9f9f9; 
    border: 2px solid #ccc;
    border-radius: 5px;
}
.range-container {
    margin: 10px;
    margin-left: 10vh;
}
.range-container label {
    display: inline-block;
    width: 67px;
}
.range-container span {
    margin-left: 10px;
    font-weight: Arial;
}
#fileInput {    
    margin-left: 10vh;
    font-family: system-ui; 
}